# PostgreSQL
POSTGRES_DB=metaflow
POSTGRES_USER=metaflow
POSTGRES_PASSWORD=change_me_local_only

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:29092

# Snowflake
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_DATABASE=
SNOWFLAKE_SCHEMA=
SNOWFLAKE_ROLE=
